{% extends 'base.html.twig' %}

{% block title %}Mes adresse - Boutique Sếp péo
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-md-9">
			<h2>Mes adresses</h2>
			C'est dans cet espace que vous allez pouvoir gérer toutes vos adresses.
		</div>

		<div class="col-md-3">
			{% if app.user.addresses|length ==0 %}
				<a href="{{ path('account') }}" class="btn btn-light btn-sm float-right">
					<i class="fas fa-undo-alt"></i>
					Retour</a>
			{% else %}
				<a href="{{ path('account_address_add') }}" class="btn btn-light btn-sm float-right">
					<i class="fas fa-plus"></i>
					Ajouter une adresse</a>
				<a href="{{ path('account') }}" class="btn btn-light btn-sm float-right">
					<i class="fas fa-undo-alt"></i>
					Retour</a>
			{% endif %}
		</div>
	</div>

	<hr>

	{% if app.user.addresses|length ==0 %}
		<p class="text-center">Vous n'avez pas encore ajouté d'adresse dans votre compte client. Pour en ajouter une, veuillez
			<a href="{{ path('account_address_add') }}">cliquer ici</a>.</p>
	{% else %}
		<div class="row">
			{% for address in app.user.addresses %}
				<div class="col-md-4">
					<div class="card mb-5" style="width: 18rem;">
						<div class="card-body">
							<div class="row">
								<h5 class="col-md-9 content-too-long">{{ address.name }}</h5>
								<a href="{{ path('account_address_edit', { 'id' : address.id }) }}" class="col-md-1">
									<i class="fas fa-edit"></i>
								</a>
								<a href="{{ path('account_address_delete', { 'id' : address.id }) }}" class="col-md-1">
									<i class="fas fa-trash-alt"></i>
								</a>
							</div>
							<div class="card-text">
								<i class="fas fa-user"></i>
								{{ address.firstname }}
								{{ address.lastname }}
								{% if (address.company) %}
								<i class="fas fa-building"></i>
								{{ address.company }}
								{% endif %}<br/>
								<p class="content-too-long">
									<i class="fas fa-map-marker-alt"></i>
									{{ address.address }}
									<br/>
									&nbsp;&nbsp;&nbsp;{{ address.postal }}
									-
									{{ address.city }}
									-
									{{ address.country }}

									<br/>
									<i class="fas fa-phone-alt"></i>
									{{ address.phone }}</p>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	{% endif %}
{% endblock %}
