{% extends 'base.html.twig' %}

{% block title %}Gérer une adresse - Boutique Sếp péo
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-md-9">
			<h2>
				Gérer une adresse</h2>
		</div>
		<div class="col-md-3">
			<a href="{{ path('account_address') }}" class="btn btn-light btn-sm float-right">
				<i class="fas fa-undo-alt"></i>
				Retour</a>
		</div>
	</div>
	<hr>

	{{ form_start(form) }}
	<div class="row mb-3">
		<div class="col-md-12">{{ form_row(form.name) }}</div>
		<div class="col-md-6">{{ form_row(form.firstname) }}</div>
		<div class="col-md-6">{{ form_row(form.lastname) }}</div>
		<div class="col-md-6">{{ form_row(form.company) }}</div>
		<div class="col-md-6">{{ form_row(form.address) }}</div>
		<div class="col-md-6">{{ form_row(form.postal) }}</div>
		<div class="col-md-6">{{ form_row(form.city) }}</div>
		<div class="col-md-6">{{ form_row(form.country) }}</div>
		<div class="col-md-6">{{ form_row(form.phone) }}</div>
		<div class="col-md-1 offset-md-11">{{ form_row(form.submit) }}</div>
	</div>
	{{ form_end(form) }}
{% endblock %}
