{% extends 'base.html.twig' %}

{% block title %}Mes commandes - Boutique Sếp péo
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-md-11">
			<h2>Mes commandes</h2>
			C'est dans cet espace que vous allez pouvoir gérer toutes vos commandes.
		</div>

		<div class="col-md-1">
			<a href="{{ path('account') }}" class="btn btn-light btn-sm float-right">
				<i class="fas fa-undo-alt"></i>
				Retour</a>
		</div>
	</div>
	{% if orders|length == 0 %}
		<hr>
		<p class="text-center">
			Vous n'avez pas encore passé de commande sur la Boutique Sếp péo.
		</p>
	{% else %}

		<table class="table mt-5 text-center">
			<thead>
				<tr>
					<th scope="col">Référence</th>
					<th scope="col">Statut</th>
					<th scope="col">Passée le</th>
					<th scope="col">Produit(s)</th>
					<th scope="col">Total</th>
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody>
				{% for order in orders %}
					<tr>
						<td>
							<span class="badge badge-secondary">{{ order.reference }}</span>
						</td>
						<td>
							{% if order.state == 1 %}
								<span class="dot" style="background-color: #ffff80;"></span> Paiement accepté
							{% elseif order.state == 2 %}
								<span class="dot" style="background-color: #3399ff;"></span> Préparation en cours
							{% elseif order.state == 3 %}
								<span class="dot" style="background-color: #ff9933;"></span> Livraison en cours
							{% elseif order.state == 4 %}
								<span class="dot" style="background-color: #66ff33;"></span> Complete
							{% elseif order.state == 5 %}
								<span class="dot" style="background-color: #ff1a1a;"></span> Annulée
							{% endif %}

						</td>
						<td>{{ order.createdAt|date('d/m/Y') }}</td>
						<td>{{ order.orderDetails|length }}</td>
						<td>{{ ((order.carrierPrice + order.getTotal) / 100)|number_format(2, ',', '.') }}
							€</td>
						<td>
							<a href="{{ path('account_order_show', {'reference' : order.reference }) }}">
								<i class="far fa-eye"></i>
							</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>


	{% endif %}

{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/css/order.css') }}">
{% endblock %}