{% extends 'base.html.twig' %}

{% block title %}
	{{ product.name }}
{% endblock %}

{% block content %}

	<div class="row">
		<div class="col-md-5">
			<img src="/uploads/{{ product.illustration }}" alt="{{ product.name }}" class="img-fluid">
		</div>
		<div class="col-md-7 my-auto">
			<h3>{{ product.name }}</h3>
			<p>{{ product.subtitle }}</p>
			<span class="product-page-price">{{ (product.price / 100) | number_format(2, ',', '.') }}
				€</span>
			<hr>
			<p>
				{{ product.description }}
			</p>
			<a href="{{ path('add-to-cart', { 'id' : product.id }) }}" class="btn btn-light btn-sm float-right">Ajouter au panier</a>
		</div>
	</div>

	<hr>
	<div class="text-center mb-5">
		<h3>Nos meilleures ventes</h3>
		<p>Découvrez les articles les plus vendus.</p>
	</div>

	<div class="row">
		{% for product in products %}
			<div class="col-lg-4">
				<img src="/uploads/{{ product.illustration }}" alt="{{ product.name }}" class="img-fluid bd-placeholder-img rounded-circle" width="140" height="140"></a>
				<h5>{{ product.name }}</h5>
				<span class="product-subtitle">{{ product.subtitle }}</span><br/>
				<span class="product-price">{{ (product.price /100) | number_format(2, ',' , '.') }}
					€</span>
				<p><a class="btn btn-light btn-sm mt-3" role="button" href="{{ path('product', { 'slug' : product.slug }) }}">Découvrir &raquo;</a></p>
				
			</div>
		{% endfor %}
	</div>
{% endblock %}
